<div class="container m-5">
    <div class="col">
        <h3>Reporte - Evapotranspiración</h3>
        <hr>
        <div class="col">
            <div class="row">
                <label for="desde" class="col-form-label">Desde</label>
                <div class="col">
                    <input [(ngModel)]="desde" type="datetime-local" class="form-control" name="desde">
                </div>
                <label for="desde" class="col-form-label">Hasta</label>
                <div class="col">
                    <input [(ngModel)]="hasta" type="datetime-local" class="form-control" name="hasta">
                </div>
            </div>
            <br>
            <div class="row">
                <select [(ngModel)]="numSensor" (ngModelChange)="searchSensor()" class="browser-default custom-select">
                    <option selected [ngValue]="undefined">Seleccione Sensor</option>
                    <option value="12">Las Delicias</option>
                    <option value="285">Camarico</option>
                    <option value="194">Pencahue</option>
                </select>
            </div>
        </div>
    </div>
    <hr>
    <div class="col">
        <div class="row">
            <div class="table-title">
                <h3>Detalle</h3>
            </div>
            <table class="table-fill">
                <thead>
                    <tr>
                        <th class="text-left">Evapotranspiración (mm/día)</th>
                        <th class="text-center" *ngFor="let dat of dataArray">Fecha {{dat.from | date:"shortDate" }}</th>
                    </tr>
                </thead>
                <tbody class="table-hover">
                    <tr *ngIf="avg !== 0">
                        <td class="text-center">{{avg | number}}</td>
                        <td class="text-center" *ngFor="let dat of dataArray">{{dat.magnitude | number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div class="alert alert-info" *ngIf="avg === 0">
            No hay datos registrados - Indique Parametros
        </div>
        <hr>
        <div class="table-title" *ngIf="avg !== 0">
            <h3>Gráfica</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>